/*-- scss:defaults --*/

$primary:     #33333e !default;
$body-bg:     #222 !default;
$body-color:  #c2c2c5  !default;

$link-color:  #2761e3 !default;

$nav-tabs-link-active-color: #c2c2c5  !default;
$nav-tabs-border-color: #33333e !default;
$nav-tabs-link-hover-border-color: #33333e #33333e #222 #33333e !default;
$nav-tabs-link-active-border-color: #33333e #33333e #222 #33333e !default;


