<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="{{ "/assets/css/carousel.css" | relative_url }}" type="text/css" />
  
<script src="{{ "/assets/js/jquery-1.7.1.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/transition.js" | relative_url }}" type="text/javascript">
</script>