---
layout: plain
---

<header class="container">
  <div id="dhead" class="container">
    <div class="row">
      <div id="biopic">
       <a href="{{ "index.html" | relative_url }}"><img src="/assets/images/avatar.jpg" title="On Mt. Rainier"  /></a>
      </div>
      <div id="bioheadline">
        <h1>Lara Thompson</h1>
        <h2>Yet another physicist doing ML.</h2>
          <a href="{{ "index.html" | relative_url }}">
            <img src="{{ 'assets/images/tent-orange.png' | relative_url }}" height=25px></a>
          <a href="{{ "timeline.html" | relative_url }}" title="resources">
              <img src="{{ 'assets/images/here.png' | relative_url }}" height=25px></a>
          <a href="{{ "posts.html" | relative_url }}" title="posts">
            <img src="{{ 'assets/images/blog-orange.png' | relative_url }}" height=25px></a>
          <a href="{{ "resources.html" | relative_url }}" title="resources">
            <img src="{{ 'assets/images/bookshelf.png' | relative_url }}" height=25px></a>

          
          <img src="{{ 'assets/images/vertical.png' | relative_url }}" height=35px>

            <a href="https://github.com/lrthomps" title="lrthomps@github">
              <img src="{{ 'assets/images/github-orange.png' | relative_url }}" height=25px></a>
            <a href="https://www.linkedin.com/in/lara-r-thompson" title="lara-r-thompson@linkedin">
              <img src="{{ 'assets/images/linkedin-orange.png' | relative_url }}" height=25px></a>
            <a href="https://www.goodreads.com/user/show/3114636-lara-thompson" title="lara-thompson@goodreads">
              <img src="{{ 'assets/images/goodreads-orange.png' | relative_url }}" height=25px></a>
          </div>
      </div>
    </div>
  </div>
</header>

<section class="container">

	{{content}}

</section>
